;; karabiner

;; cheatsheet
;; ! for mandatory
;; !! for mandatory command + control + optional + shift (hyper)
;; # for optional
;; ## for optional any
;; C T O S for left command control optional shift
;; Q W E R for right command control optional shift
;; need to prefix C T O S F with ! or #
;; F for fn
;; P for caps_lock

{:simlayers {:caps-mode {:key :caps_lock}
             :mouse-mode {:key :a}}
 :simlayer-threshold 250
 :main [{:des "Capslock to Hyper(hold) | Esc(click)"
         :rules [[:##caps_lock {:key :right_command :modi [:right_control :right_option :right_shift]} nil {:alone :escape}]
        ;; simultaneously =⌫ to delete backward
                 [[:equal_sign :delete_or_backspace] :delete_forward]]}
        {:des "Hyper to Ctrl"
         :rules [[:!QWERtab :!Ttab]
                 [:!QWERhyphen :home]
                 [:!QWERequal_sign :end]
                 [:!QWERdelete_or_backspace :!Tdelete_or_backspace]
                 [:!QWERopen_bracket :!Topen_bracket]
                 [:!QWERclose_bracket :!Tclose_bracket]
                 [:!QWERbackslash :!Tbackslash]
                 [:!QWERsemicolon :!Tsemicolon]
                 [:!QWERquote :!Tquote]
                 [:!QWERreturn_or_enter :!Treturn_or_enter]
                 [:!QWERcomma :!Tcomma]
                 [:!QWERperiod :!Tperiod]
                 [:!QWERslash :!Tslash]
                 [:!QWERa :!Ta]
                 [:!QWERb :!Tb]
                 [:!QWERc :!Tc]
                 [:!QWERd :!Td]
                 [:!QWERe :!Te]
                 [:!QWERf :!Tf]
                 [:!QWERg :!Tg]
                 [:!QWERh :!Th]
                 [:!QWERi :!Ti]
                 [:!QWERj :!Tj]
                 [:!QWERk :!Tk]
                 [:!QWERl :!Tl]
                 [:!QWERm :!Tm]
                 [:!QWERn :!Tn]
                 [:!QWERo :!To]
                 [:!QWERp :!Tp]
                 [:!QWERq :!Tq]
                 [:!QWERr :!Tr]
                 [:!QWERs :!Ts]
                 [:!QWERt :!Tt]
                 [:!QWERu :!Tu]
                 [:!QWERv :!Tv]
                 [:!QWERw :!Tw]
                 [:!QWERx :!Tx]
                 [:!QWERy :!Ty]
                 [:!QWERz :!Tz]
                 [:!QWERspacebar :!Tspacebar] ;; Control-Space: change input method
                 ]}
        {:des "Hyper + Ctrl -> ???"
         :rules []}
        {:des "Hyper + Command -> Command + Control"
         :rules [
                 [:!QWERCa :!CTa]
                 [:!QWERCb :!CTb]
                 [:!QWERCc :!CTc]
                 [:!QWERCd :!CTd]
                 [:!QWERCe :!CTe]
                 [:!QWERCf :!CTf]
                 [:!QWERCg :!CTg]
                 [:!QWERCh :!CTh]
                 [:!QWERCi :!CTi]
                 [:!QWERCj :!CTj]
                 [:!QWERCk :!CTk]
                 [:!QWERCl :!CTl]
                 [:!QWERCm :!CTm]
                 [:!QWERCn :!CTn]
                 [:!QWERCo :!CTo]
                 [:!QWERCp :!CTp]
                 [:!QWERCq :!CTq]
                 [:!QWERCr :!CTr]
                 [:!QWERCs :!CTs]
                 [:!QWERCt :!CTt]
                 [:!QWERCu :!CTu]
                 [:!QWERCv :!CTv]
                 [:!QWERCw :!CTw]
                 [:!QWERCx :!CTx]
                 [:!QWERCy :!CTy]
                 [:!QWERCz :!CTz]
                 ]}
        {:des "Hyper + Option -> Control + Option"
         :rules [
                 [:!QWEROa :!TOa]
                 [:!QWEROb :!TOb]
                 [:!QWEROc :!TOc]
                 [:!QWEROd :!TOd]
                 [:!QWEROe :!TOe]
                 [:!QWEROf :!TOf]
                 [:!QWEROg :!TOg]
                 [:!QWEROh :!TOh]
                 [:!QWEROi :!TOi]
                 [:!QWEROj :!TOj]
                 [:!QWEROk :!TOk]
                 [:!QWEROl :!TOl]
                 [:!QWEROm :!TOm]
                 [:!QWEROn :!TOn]
                 [:!QWEROo :!TOo]
                 [:!QWEROp :!TOp]
                 [:!QWEROq :!TOq]
                 [:!QWEROr :!TOr]
                 [:!QWEROs :!TOs]
                 [:!QWEROt :!TOt]
                 [:!QWEROu :!TOu]
                 [:!QWEROv :!TOv]
                 [:!QWEROw :!TOw]
                 [:!QWEROx :!TOx]
                 [:!QWEROy :!TOy]
                 [:!QWEROz :!TOz]
                 ]}
        {:des "Hyper + Shift -> Control + Shift"
         :rules [
                 [:!QWERSa :!TSa]
                 [:!QWERSb :!TSb]
                 [:!QWERSc :!TSc]
                 [:!QWERSd :!TSd]
                 [:!QWERSe :!TSe]
                 [:!QWERSf :!TSf]
                 [:!QWERSg :!TSg]
                 [:!QWERSh :!TSh]
                 [:!QWERSi :!TSi]
                 [:!QWERSj :!TSj]
                 [:!QWERSk :!TSk]
                 [:!QWERSl :!TSl]
                 [:!QWERSm :!TSm]
                 [:!QWERSn :!TSn]
                 [:!QWERSo :!TSo]
                 [:!QWERSp :!TSp]
                 [:!QWERSq :!TSq]
                 [:!QWERSr :!TSr]
                 [:!QWERSs :!TSs]
                 [:!QWERSt :!TSt]
                 [:!QWERSu :!TSu]
                 [:!QWERSv :!TSv]
                 [:!QWERSw :!TSw]
                 [:!QWERSx :!TSx]
                 [:!QWERSy :!TSy]
                 [:!QWERSz :!TSz]
         ]}
        {:des "Hyper + Command + Ctrl -> ???"
         :rules []}
        {:des "Hyper + Command + Option -> ???"
         :rules []}
        {:des "Hyper + Command + Shift -> Command + Control + Shift"
         :rules [
                 [:!QWERCSa :!CTSa]
                 [:!QWERCSb :!CTSb]
                 [:!QWERCSc :!CTSc]
                 [:!QWERCSd :!CTSd]
                 [:!QWERCSe :!CTSe]
                 [:!QWERCSf :!CTSf]
                 [:!QWERCSg :!CTSg]
                 [:!QWERCSh :!CTSh]
                 [:!QWERCSi :!CTSi]
                 [:!QWERCSj :!CTSj]
                 [:!QWERCSk :!CTSk]
                 [:!QWERCSl :!CTSl]
                 [:!QWERCSm :!CTSm]
                 [:!QWERCSn :!CTSn]
                 [:!QWERCSo :!CTSo]
                 [:!QWERCSp :!CTSp]
                 [:!QWERCSq :!CTSq]
                 [:!QWERCSr :!CTSr]
                 [:!QWERCSs :!CTSs]
                 [:!QWERCSt :!CTSt]
                 [:!QWERCSu :!CTSu]
                 [:!QWERCSv :!CTSv]
                 [:!QWERCSw :!CTSw]
                 [:!QWERCSx :!CTSx]
                 [:!QWERCSy :!CTSy]
                 [:!QWERCSz :!CTSz]
         ]}
        {:des "Hyper + Ctrl + Option -> ???"
         :rules []}
        {:des "Hyper + Ctrl + Shift -> ???"
         :rules []}
        {:des "Hyper + Option + Shift -> Control + Option + Shift"
         :rules [
                 [:!QWEROSa :!TOSa]
                 [:!QWEROSb :!TOSb]
                 [:!QWEROSc :!TOSc]
                 [:!QWEROSd :!TOSd]
                 [:!QWEROSe :!TOSe]
                 [:!QWEROSf :!TOSf]
                 [:!QWEROSg :!TOSg]
                 [:!QWEROSh :!TOSh]
                 [:!QWEROSi :!TOSi]
                 [:!QWEROSj :!TOSj]
                 [:!QWEROSk :!TOSk]
                 [:!QWEROSl :!TOSl]
                 [:!QWEROSm :!TOSm]
                 [:!QWEROSn :!TOSn]
                 [:!QWEROSo :!TOSo]
                 [:!QWEROSp :!TOSp]
                 [:!QWEROSq :!TOSq]
                 [:!QWEROSr :!TOSr]
                 [:!QWEROSs :!TOSs]
                 [:!QWEROSt :!TOSt]
                 [:!QWEROSu :!TOSu]
                 [:!QWEROSv :!TOSv]
                 [:!QWEROSw :!TOSw]
                 [:!QWEROSx :!TOSx]
                 [:!QWEROSy :!TOSy]
                 [:!QWEROSz :!TOSz]
         ]}
        {:des "mouse move"
         :rules [:mouse-mode
                 [:h {:mkey {:x -1600}}]
                 [:k {:mkey {:y -1600}}]
                 [:j {:mkey {:y 1600}}]
                 [:l {:mkey {:x 1600}}]
                 [:!Ch {:mkey {:x -3200}}]
                 [:!Ck {:mkey {:y -3200}}]
                 [:!Cj {:mkey {:y 3200}}]
                 [:!Cl {:mkey {:x 3200}}]
                 [:!Oh {:mkey {:x -800}}]
                 [:!Ok {:mkey {:y -800}}]
                 [:!Oj {:mkey {:y 800}}]
                 [:!Ol {:mkey {:x 800}}]
        ;; scroll
                 [:u {:mkey {:vwheel -32}}]
                 [:d {:mkey {:vwheel 32}}]
                 [:!Cu {:mkey {:vwheel -64}}]
                 [:!Cd {:mkey {:vwheel 64}}]
                 [:!Ou {:mkey {:vwheel -16}}]
                 [:!Od {:mkey {:vwheel 16}}]
        ;; left click
                 [:spacebar :button1]
                 [:!Cspacebar {:pkey :button1 :modi :left_command}]
                 [:!Ospacebar {:pkey :button1 :modi :left_option}]
                 [:!Sspacebar {:pkey :button1 :modi :left_shift}]
        ;; right click
                 [:m :button2]
                 [:q :escape]
        ;; delete
                 [:0 :delete_or_backspace]
                 [:!C0 :!Cdelete_or_backspace]
                 [:!O0 :!Odelete_or_backspace]]}]}
