appdirs==1.4.4
argostranslate==1.7.5
astor==0.8.1
astroid==2.12.12
attrs==22.1.0
black==22.10.0
Brotli==1.0.9
build==0.9.0
CacheControl==0.12.11
cachelib==0.9.0
cachy==0.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
cleo==1.0.0a5
click==8.1.3
colorama==0.4.6
commonmark==0.9.1
crashtest==0.3.1
cssselect==1.2.0
ctranslate2==2.24.0
cyclonedx-python-lib==3.1.0
decorator==5.1.1
Deprecated==1.2.13
dill==0.3.6
distlib==0.3.6
docstring-to-markdown==0.10
dulwich==0.20.50
easyocr==1.6.2
epc==0.0.5
exif==1.4.0
feedparser==6.0.10
ffmpeg-python==0.2.0
filelock==3.8.0
future==0.18.3
giturlparse==0.10.0
google-translate @ file:///private/var/folders/zs/ppvpcc991fx4bfvz1gy420wc0000gn/T/install-google-translatedHOssH/dist/google_translate-1.0.0-py3-none-any.whl
graphviz==0.20.1
howdoi==2.0.20
html5lib==1.1
huggingface-hub==0.11.0
idna==3.4
imageio==2.22.4
importlib-metadata==5.1.0
isort==5.10.1
jaraco.classes==3.2.3
jedi==0.18.2
Jinja2==3.1.2
jsonschema==4.17.3
keep==2.10.1
keyring==23.11.0
lazy-object-proxy==1.4.1
lmdb==1.4.0
lockfile==0.12.2
lxml==4.9.2
mac-app-frontmost==2020.12.3
Markdown==3.4.1
MarkupSafe==2.1.1
mccabe==0.7.0
more-itertools==9.0.0
msgpack==1.0.4
mutagen==1.46.0
mypy-extensions==0.4.3
networkx==2.8.8
ninja==1.11.1
numpy==1.23.5
objgraph==3.5.0
obsidian-to-org @ file:///Users/suliveevil/Documents/GitHub/obsidian-to-org/dist/obsidian_to_org-0.1.0-py3-none-any.whl
opencv-python-headless==4.5.4.60
opt-einsum==3.3.0
orjson==3.8.2
packageurl-python==0.10.3
packaging==21.3
paddle-bfloat==0.1.7
paddlepaddle==2.4.1
parso==0.8.3
pathspec==0.10.1
pep517==0.13.0
pexpect==4.8.0
Pillow==9.3.0
pip-api==0.0.30
pip-autoremove==0.10.0
pip-requirements-parser==31.2.0
pip_audit==2.4.4
pipdot==0.2
pkginfo==1.9.2
platformdirs==2.5.2
pluggy==1.0.0
plum-py==0.8.5
poetry==1.2.2
poetry-core==1.3.2
poetry-plugin-export==1.2.0
prettytable==3.5.0
protobuf==3.20.2
ptyprocess==0.7.0
pyclipper==1.3.0.post4
pycparser==2.21
pycryptodomex==3.15.0
pygit2==1.11.1
PyGithub==1.57
Pygments==2.13.0
PyJWT==2.6.0
pylev==1.4.0
pylint==2.15.5
PyMuPDF==1.21.1
PyNaCl==1.5.0
pynvim==0.4.3
pyobjc==9.0
pyobjc-core==9.0
pyobjc-framework-Accessibility==9.0
pyobjc-framework-Accounts==9.0
pyobjc-framework-AddressBook==9.0
pyobjc-framework-AdServices==9.0
pyobjc-framework-AdSupport==9.0
pyobjc-framework-AppleScriptKit==9.0
pyobjc-framework-AppleScriptObjC==9.0
pyobjc-framework-ApplicationServices==9.0
pyobjc-framework-AppTrackingTransparency==9.0
pyobjc-framework-AudioVideoBridging==9.0
pyobjc-framework-AuthenticationServices==9.0
pyobjc-framework-AutomaticAssessmentConfiguration==9.0
pyobjc-framework-Automator==9.0
pyobjc-framework-AVFoundation==9.0
pyobjc-framework-AVKit==9.0
pyobjc-framework-AVRouting==9.0
pyobjc-framework-BackgroundAssets==9.0
pyobjc-framework-BusinessChat==9.0
pyobjc-framework-CalendarStore==9.0
pyobjc-framework-CallKit==9.0
pyobjc-framework-CFNetwork==9.0
pyobjc-framework-ClassKit==9.0
pyobjc-framework-CloudKit==9.0
pyobjc-framework-Cocoa==9.0
pyobjc-framework-Collaboration==9.0
pyobjc-framework-ColorSync==9.0
pyobjc-framework-Contacts==9.0
pyobjc-framework-ContactsUI==9.0
pyobjc-framework-CoreAudio==9.0
pyobjc-framework-CoreAudioKit==9.0
pyobjc-framework-CoreBluetooth==9.0
pyobjc-framework-CoreData==9.0
pyobjc-framework-CoreHaptics==9.0
pyobjc-framework-CoreLocation==9.0
pyobjc-framework-CoreMedia==9.0
pyobjc-framework-CoreMediaIO==9.0
pyobjc-framework-CoreMIDI==9.0
pyobjc-framework-CoreML==9.0
pyobjc-framework-CoreMotion==9.0
pyobjc-framework-CoreServices==9.0
pyobjc-framework-CoreSpotlight==9.0
pyobjc-framework-CoreText==9.0
pyobjc-framework-CoreWLAN==9.0
pyobjc-framework-CryptoTokenKit==9.0
pyobjc-framework-DataDetection==9.0
pyobjc-framework-DeviceCheck==9.0
pyobjc-framework-DictionaryServices==9.0
pyobjc-framework-DiscRecording==9.0
pyobjc-framework-DiscRecordingUI==9.0
pyobjc-framework-DiskArbitration==9.0
pyobjc-framework-DVDPlayback==9.0
pyobjc-framework-EventKit==9.0
pyobjc-framework-ExceptionHandling==9.0
pyobjc-framework-ExecutionPolicy==9.0
pyobjc-framework-ExtensionKit==9.0
pyobjc-framework-ExternalAccessory==9.0
pyobjc-framework-FileProvider==9.0
pyobjc-framework-FileProviderUI==9.0
pyobjc-framework-FinderSync==9.0
pyobjc-framework-FSEvents==9.0
pyobjc-framework-GameCenter==9.0
pyobjc-framework-GameController==9.0
pyobjc-framework-GameKit==9.0
pyobjc-framework-GameplayKit==9.0
pyobjc-framework-HealthKit==9.0
pyobjc-framework-ImageCaptureCore==9.0
pyobjc-framework-IMServicePlugIn==9.0
pyobjc-framework-InputMethodKit==9.0
pyobjc-framework-InstallerPlugins==9.0
pyobjc-framework-InstantMessage==9.0
pyobjc-framework-Intents==9.0
pyobjc-framework-IntentsUI==9.0
pyobjc-framework-IOSurface==9.0
pyobjc-framework-iTunesLibrary==9.0
pyobjc-framework-KernelManagement==9.0
pyobjc-framework-LatentSemanticMapping==9.0
pyobjc-framework-LaunchServices==9.0
pyobjc-framework-libdispatch==9.0
pyobjc-framework-LinkPresentation==9.0
pyobjc-framework-LocalAuthentication==9.0
pyobjc-framework-LocalAuthenticationEmbeddedUI==9.0
pyobjc-framework-MailKit==9.0
pyobjc-framework-MapKit==9.0
pyobjc-framework-MediaAccessibility==9.0
pyobjc-framework-MediaLibrary==9.0
pyobjc-framework-MediaPlayer==9.0
pyobjc-framework-MediaToolbox==9.0
pyobjc-framework-Metal==9.0
pyobjc-framework-MetalFX==9.0
pyobjc-framework-MetalKit==9.0
pyobjc-framework-MetalPerformanceShaders==9.0
pyobjc-framework-MetalPerformanceShadersGraph==9.0
pyobjc-framework-MetricKit==9.0
pyobjc-framework-MLCompute==9.0
pyobjc-framework-ModelIO==9.0
pyobjc-framework-MultipeerConnectivity==9.0
pyobjc-framework-NaturalLanguage==9.0
pyobjc-framework-NetFS==9.0
pyobjc-framework-Network==9.0
pyobjc-framework-NetworkExtension==9.0
pyobjc-framework-NotificationCenter==9.0
pyobjc-framework-OpenDirectory==9.0
pyobjc-framework-OSAKit==9.0
pyobjc-framework-OSLog==9.0
pyobjc-framework-PassKit==9.0
pyobjc-framework-PencilKit==9.0
pyobjc-framework-Photos==9.0
pyobjc-framework-PhotosUI==9.0
pyobjc-framework-PreferencePanes==9.0
pyobjc-framework-PushKit==9.0
pyobjc-framework-Quartz==9.0
pyobjc-framework-QuickLookThumbnailing==9.0
pyobjc-framework-ReplayKit==9.0
pyobjc-framework-SafariServices==9.0
pyobjc-framework-SafetyKit==9.0
pyobjc-framework-SceneKit==9.0
pyobjc-framework-ScreenCaptureKit==9.0
pyobjc-framework-ScreenSaver==9.0
pyobjc-framework-ScreenTime==9.0
pyobjc-framework-ScriptingBridge==9.0
pyobjc-framework-SearchKit==9.0
pyobjc-framework-Security==9.0
pyobjc-framework-SecurityFoundation==9.0
pyobjc-framework-SecurityInterface==9.0
pyobjc-framework-ServiceManagement==9.0
pyobjc-framework-SharedWithYou==9.0
pyobjc-framework-SharedWithYouCore==9.0
pyobjc-framework-ShazamKit==9.0
pyobjc-framework-Social==9.0
pyobjc-framework-SoundAnalysis==9.0
pyobjc-framework-Speech==9.0
pyobjc-framework-SpriteKit==9.0
pyobjc-framework-StoreKit==9.0
pyobjc-framework-SyncServices==9.0
pyobjc-framework-SystemConfiguration==9.0
pyobjc-framework-SystemExtensions==9.0
pyobjc-framework-ThreadNetwork==9.0
pyobjc-framework-UniformTypeIdentifiers==9.0
pyobjc-framework-UserNotifications==9.0
pyobjc-framework-UserNotificationsUI==9.0
pyobjc-framework-VideoSubscriberAccount==9.0
pyobjc-framework-VideoToolbox==9.0
pyobjc-framework-Virtualization==9.0
pyobjc-framework-Vision==9.0
pyobjc-framework-WebKit==9.0
pyparsing==3.0.9
pypinyin==0.47.1
PyQt6==6.4.0
PyQt6-Qt6==6.4.1
PyQt6-sip==13.4.0
PyQt6-WebEngine==6.4.0
PyQt6-WebEngine-Qt6==6.4.1
pyquery==1.4.3
pyrsistent==0.19.2
PySocks==1.7.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-docx==0.8.11
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.6.0
pytz==2022.7
PyWavelets==1.4.1
PyYAML==6.0
rapidfuzz==2.13.6
regex==2022.10.31
requests==2.28.1
requests-toolbelt==0.9.1
resolvelib==0.8.1
retrying==1.3.4
rich==12.6.0
richdb==0.1.4
scikit-image==0.19.3
scipy==1.9.3
sentencepiece==0.1.96
sexpdata==0.0.3
sgmllib3k==1.0.0
Shapely==1.8.5.post1
shellingham==1.5.0
six==1.16.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
stanza==1.1.1
termcolor==2.1.1
terminaltables==3.1.10
tifffile==2022.10.10
tld==0.12.6
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
torch==1.13.1
torchaudio==0.14.0.dev20221121
torchvision==0.15.0.dev20221121
tqdm==4.64.1
transformers==4.24.0
typing_extensions==4.4.0
ujson==5.6.0
unidiff==0.7.4
urllib3==1.26.13
virtualenv==20.17.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-bridge-python==0.0.2
websockets==10.4
Werkzeug==2.2.2
whisper @ git+https://github.com/openai/whisper.git@eff383b27b783e280c089475852ba83f20f64998
wrapt==1.14.1
xattr==0.9.9
xdot==1.2
yt-dlp==2022.10.4
zipp==3.11.0
